.introbody {
	color: black;
	margin: 2vh;
}

.maker {
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.intro {
	display: flex;
	justify-content: space-around;
}

.things {
	margin: 2vw;
	font-size: 3vh;
	font-family: 'Teko', sans-serif;
}

.myname {
	margin-left: 5vw;
	font-family: 'Lobster', cursive;
}

.codecardmulti {
	display: flex;
}